.verx {
  width: 100%;
  font-size: 64px;
  color: #660000;
  background: linear-gradient(to left, #01579b, #29b6f6, #29b6f6, #01579b);
  text-align: center;
  border-radius: 10px 100px / 120px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.menu {
  background-color: #01579b;
  width: 100%; 
  box-shadow: 3.5px 3.5px #000;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  float: left;
  text-decoration: none;
}

.button {
  display: block;
  text-decoration: none;
  padding: 2px 50px 2px 50px;
  background-color: #e1f5fe;
  margin: 0px 4px 0px 2px;
  box-shadow: 3px 1px #29b6f6;
  border-radius: 5px;
  float: left;
}

.button:first-child {
  margin-left: 22%;
}

.button:hover{
  background-color: #01579b;
}

.col_left {
  background-color: #01579b;
  width: 20%; 
  box-shadow: 3.5px 3.5px #000;
  font-size: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  float: left;
  text-decoration: none;
}


.block {
  display: block;
  text-align: center;
  font-size: 28px;
  background-color: #01579b;
  text-decoration: none;
  box-shadow: 1px 1px #29b6f6;
  padding-bottom: 10px;
  border: solid;
}

.block:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}  

.block:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.col_right {
  background-color: #01579b;
  width: 20%; 
  box-shadow: 3.5px 3.5px #000;
  font-size: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  float: right;
  text-decoration: none;
}

.col_center {
  background-color: #01579b;  
  width: 55%;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
  overflow: hidden;
}

.picture {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  padding: 20px;
  float: left;
}

.down {
  position: absolute;
  width: 100px;
  height: 24px;
  text-align: center;
  background-color: green;
  top: 80px;
  left: 20px;
  display: none;
  opacity: 70%;
}

.picture:hover .down{
  display: block;
}  

img {
  width: 100px;
  height: 100px;
}




